body {
	transition: background-color 1s ease;
}

.hex {
	display: none;
}

.display {
  height: 150px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  right: 0;
  font-family: 'Kalam', cursive;
  font-size: 100px;
}
