.hex {
	display: none;
}

.display {
	height: 500px;
	width: 500px;
	font-family: 'Kalam', cursive;	margin: auto;
	font-size: 100px;
	position: relative;
	top: 50%;
	transform: translateY(50%);
	text-align: center;
}
